<div id="feeds">
  <ul> 
    <% @feeds.each_index do |index| %>
      <a href="/entries/<%= @feeds[index].id %>">
        <li>
          <%= @feeds[index].title %>
          <%= link_to image_tag("window-close-symbolic.svg", class: "remove-button"),
                                feed_path(@feeds[index]),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %>
        </li>
      </a>
    <% end %>
  </ul>
  <div id="new-feed">
    <%= form_for :feed, url: feeds_path do |f| %>
        <%= f.text_field :url, :class => 'add-feed-entry' %>
        <%= f.submit 'Add', :class => 'add-feed-button' %>
    <% end %>
  </div>
</div>
<div id="reader">
  <ul> 
    <% @parsed_feed.items.each do |entry| %>
        <li>
          <%= entry.title %>
          <div class="summary">
            <%= entry.summary %>
          </div>
        </li>
    <% end %>
  </ul>
</div>
